<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />

    <title>Sign Up | Play Traditional Game</title>
  </head>
  <body>
    <section style="background-image: url('/assets/the-games-bg.jpg'); background-size: cover; min-height: 100vh">
      <div class="d-flex align-items-center">
        <div class="container">
          <div class="row d-flex justify-content-center align-items-center h-50 py-5">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card" style="border-radius: 15px">
                <div class="card-body p-5">
                  <h2 class="text-uppercase text-center mb-5">Log In</h2>

                  <% if(typeof alert != "undefined") { %> <% alert.forEach(function(error) { %>
                  <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <%= error.msg %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <% }) %> <% } %>

                  <form action="/login" method="POST">
                    <div class="form-outline mb-2">
                      <input type="email" id="loginEmail" class="form-control form-control-md" name="email" />
                      <label class="form-label" for="loginEmail">Your Email</label>
                    </div>

                    <div class="form-outline mb-2">
                      <input type="password" id="loginPassword" class="form-control form-control-md" name="password" />
                      <label class="form-label" for="loginPassword">Password</label>
                    </div>

                    <div class="d-flex justify-content-center">
                      <button type="submit" class="btn btn-success btn-block btn-md gradient-custom-4 text-body">Log In</button>
                    </div>

                    <p class="text-center text-muted mt-5 mb-0">
                      Don't have an account yet? <a href="/signup" class="fw-bold text-body"><u>Sign Up here</u></a>
                    </p>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
