<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Play Traditional Game</title>
  </head>
  <body>
    <header>
      <div class="container-fluid navbar-class">
        <div class="container">
          <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="/">
              <img src="https://cdn.worldvectorlogo.com/logos/rockstar-games.svg" alt="rockstar-logo" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse row" id="navbarNav">
              <div class="col-lg-7 offset-lg-1 d-flex justify-content-lg-start justify-content-md-center justify-content-sm-center justify-content-center">
                <ul class="navbar-nav d-flex align-items-md-center align-items-sm-center align-items-center">
                  <li class="nav-item d-flex">
                    <a class="nav-link btn-txt mr-lg-3" href="/">HOME</a>
                  </li>
                  <li class="nav-item d-flex">
                    <a class="nav-link btn-txt mr-lg-3" href="/work">WORK</a>
                  </li>
                  <li class="nav-item d-flex">
                    <a class="nav-link btn-txt mr-lg-3" href="/contact">CONTACT</a>
                  </li>
                  <li class="nav-item d-flex">
                    <a class="nav-link btn-txt" href="/about">ABOUT ME</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-4 d-flex justify-content-lg-end justify-content-md-center justify-content-sm-center justify-content-center">
                <ul class="navbar-nav d-flex align-items-md-center align-items-sm-center align-items-center">
                  <li class="nav-item d-flex">
                    <a class="nav-link btn-txt mr-lg-3" href="/signup">SIGN UP</a>
                  </li>
                  <li class="nav-item d-flex">
                    <a class="nav-link btn-txt" href="/login">LOGIN</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </header>

    <main>
      <div class="container-fluid d-flex flex-column justify-content-center align-items-center" style="min-height: 75vh !important">
        <row class="container row d-flex justify-content-center">
          <img src="assets/cement-truck.svg" alt="" />
        </row>
        <row class="container row d-flex justify-content-center">
          <h1 class="color-yellow">Under Construction</h1>
        </row>
        <row class="container row d-flex justify-content-center">
          <p class="color-white">Sorry for the inconvenience.</p>
        </row>
      </div>
    </main>

    <footer>
      <div class="container-fluid d-flex flex-column justify-content-center" id="page-six" style="position: relative">
        <div class="container">
          <div class="row">
            <div class="container col-lg-8 offset-lg-2 mt-md-4 col-md-8 col-sm-9 col-9">
              <nav class="navbar navbar-expand-lg navbar-dark d-flex justify-content-md-center">
                <div class="d-flex" id="navbarbot">
                  <ul class="navbar-nav d-flex flex-md-row">
                    <li class="nav-item mr-3 mr-md-4">
                      <a class="nav-link" href="/home#page-one">MAIN</a>
                    </li>
                    <li class="nav-item mr-3 mr-md-4">
                      <a class="nav-link" href="/home#page-two">ABOUT</a>
                    </li>
                    <li class="nav-item mr-3 mr-md-4">
                      <a class="nav-link" href="/home#page-three">GAME FEATURES</a>
                    </li>
                    <li class="nav-item mr-3 mr-md-4">
                      <a class="nav-link" href="/home#page-four">SYSTEM REQUIREMENTS</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/home#page-five">QUOTES</a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
            <div class="container col-lg-1 mt-md-4 mx-lg-0 col-md-4 col-sm-3 col-3">
              <nav class="navbar navbar-expand-lg navbar-dark d-flex justify-content-lg-end justify-content-md-center">
                <div class="d-flex" id="navbarbot">
                  <ul class="navbar-nav d-flex flex-md-row">
                    <li class="nav-item icon mr-lg-3 mr-md-4">
                      <a class="nav-link" href="/home#page-one">
                        <img src="./assets/facebook.svg" alt="facebook-icon" />
                      </a>
                    </li>
                    <li class="nav-item icon mr-lg-3 mr-md-4">
                      <a class="nav-link" href="/home#page-one">
                        <img src="./assets/twitter.svg" alt="twitter-icon" />
                      </a>
                    </li>
                    <li class="nav-item icon mr-lg-3 mr-md-4">
                      <a class="nav-link" href="/home#page-one">
                        <img src="./assets/Vector.svg" alt="youtube-icon" />
                      </a>
                    </li>
                    <li class="nav-item icon">
                      <a class="nav-link" href="/home#page-one">
                        <img src="./assets/twitch.svg" alt="twitch-icon" />
                      </a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
          <hr class="solid" />
          <div class="row">
            <div class="col-lg-6 col-md-4 d-flex align-self-center justify-content-lg-start justify-content-md-center justify-content-sm-center justify-content-center">
              <p class="m-0 text-lg-left text-md-left text-sm-center text-center" style="color: hsl(203, 5%, 48%)">© 2018 Your Games, Inc. All Rights Reserved</p>
            </div>
            <div class="col-lg-6 col-md-8 d-flex justify-content-lg-end justify-content-md-center justify-content-sm-center justify-content-center m-0 p-0">
              <nav class="navbar navbar-expand-lg navbar-dark p-0">
                <ul class="navbar-nav d-flex flex-row text-lg-left text-md-left text-sm-center text-center">
                  <li class="nav-item icon mr-3">
                    <a class="nav-link" href="/home#page-one">PRIVACY POLICY</a>
                  </li>
                  <li class="nav-item icon mr-3">
                    <a class="nav-link" href="/signup/tos">TERMS OF SERVICE</a>
                  </li>
                  <li class="nav-item icon">
                    <a class="nav-link" href="/home#page-one">CODE OF CONDUCT</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
